:root {
  --background-color: #fdfdfd;
  --background-primary: #f0afc5;
  --background-primary-secondary: #ffe8f3;

  --text-primary: black;
  --text-secondary: #505050;
  --text-on-primary: #31152f;

  --link-primary: #c4426e;

  --border-color: #e0e0e0;

  --paper-texture-uri: url("assets/paper-texture.png");

  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 16px;
  --spacing4: 32px;
}

/*#region --------------- Basic Elements --------------- */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-color);
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--background-primary);
  padding: 5rem 1rem;
}

section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing4);
}

footer {
  height: 2rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--link-primary);

  &:visited {
    color: var(--link-primary);
  }

  &:hover {
    color: var(--background-primary);
  }
}

span,
p {
  &.secondary {
    color: var(--text-secondary);
  }
}

/*#endregion */

.name-card {
  position: relative;
  text-align: center;
  align-self: center;
  margin: 1rem;

  &::before {
    position: absolute;
    pointer-events: none;
    content: "";
    border-radius: 2px;
    border-right: 4px solid var(--background-primary-secondary);
    border-bottom: 4px solid var(--background-primary-secondary);
    opacity: .25;
    width: 25%;
    height: 25%;
    bottom: 0;
    right: 0;
    margin: -.75rem;
  }

  &::after {
    position: absolute;
    pointer-events: none;
    content: "";
    border-radius: 2px;
    border-left: 4px solid var(--background-primary-secondary);
    border-top: 4px solid var(--background-primary-secondary);
    opacity: .25;
    width: 25%;
    height: 25%;
    top: 0;
    left: 0;
    margin: -.75rem;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: transparent;
    background-color: var(--text-on-primary);
    text-shadow: 2px 2px 3px #fffcfc7f;
    background-clip: text;
    padding-top: .5em;
  }

  .background {
    position: absolute;
    background-image: var(--paper-texture-uri);
    background-size: 45%;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 75%;
    pointer-events: none;
    z-index: 1;
  }

  .card-body {
    position: relative;
  }

  .card-footer {
    padding: .5rem;
    background-color: var(--background-primary-secondary);

    .social-links {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
    }
  }
}

.experience-cards {
  flex-wrap: wrap;
  gap: var(--spacing2);
  max-width: 1000px;
  align-self: center;

  .experience-card {
    flex: 1;
  }

  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;

    img {
      height: 3rem;
    }

    h2 {
      margin: 0;
      text-wrap: nowrap;
    }

    span {
      font-size: smaller;
      color: var(--text-secondary);
    }
  }

  .description {
    font-size: smaller;
  }
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing3);
  align-self: center;
  max-width: 1500px;
}

.project-divider {
  width: 100%;
  height: 1px;
  margin: var(--spacing1) var(--spacing4);
  background-color: var(--border-color);
}

project-card {
  display: flex;
  flex: 1;

  a[slot='project-git'] img {
    height: 100%;
    position: absolute;
  }
}

.project-card {
  flex: 1;

  .project-header {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing2);
    margin-bottom: .5em;
    justify-content: space-between;

    h2 {
      margin: 0;
      text-wrap: nowrap;
      position: relative;
    }

    a {
      height: 2em;
      position: relative;
      display: flex;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-thumbnail {
    filter: grayscale(50%);
  }
}

.card {
  display: flex;
  border-radius: 2px;
  background-color: var(--background-color);

  &.shadow {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  &.border {
    border: 1px solid var(--border-color);
  }

  .card-body {
    flex: 1;
    margin: 1rem;
  }

  .card-thumbnail {
    display: flex;
    width: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.icon-link {
  display: flex;
  align-items: end;
  gap: var(--spacing1);

  img {
    display: inline;
    max-height: 1em;
  }

  span {
    font-size: smaller;
  }
}

.badges {
  display: inline-flex;
  gap: var(--spacing1);
  flex-wrap: wrap;
}

.badge {
  display: inline-block;
  text-align: center;
  color: var(--text-on-primary);
  background-color: var(--background-primary);
  border-radius: 2px;
  padding: .25rem .5rem .25rem .5rem;
  font-size: small;
  font-weight: 600;
  line-height: 1;
  text-wrap: nowrap;

  &.secondary {
    color: inherit;
    background-color: var(--background-primary-secondary);
  }

  &.archived {
    color: var(--text-primary);
    background-color: var(--border-color);
  }
}

.fancy-title {
  position: relative;
  align-self: center;
  padding: 0.5rem 1rem;
  margin-bottom: 2em;

  &::before {
    position: absolute;
    pointer-events: none;
    content: "";
    border-right: 4px solid;
    border-bottom: 4px solid;
    width: calc(100% + 10px);
    height: calc(100% + 4px);
    bottom: 0;
    right: 0;
  }

  &::after {
    position: absolute;
    pointer-events: none;
    content: "";
    border-left: 3px solid;
    border-top: 3px solid;
    width: calc(100% + 10px);
    height: calc(100% - 12px);
    top: 0;
    left: 0;
  }
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.collapsed {
  visibility: collapse;
}

.hover-pop {
  transition: all .1s ease-in;

  &:hover {
    scale: 1.2;
    transition: all .1s ease-out;
  }
}

img.hover-pop {
  &:hover {
    opacity: .5;
  }
}


/* #region ----------------- Image Popup ---------------------- */
.popup-open {
  overflow: hidden;
}

.image-popup {
  display: flex;
  z-index: 10;

  &:hover {
    cursor: zoom-in;
  }

  &.open {
    &:hover {
      cursor: zoom-out;
    }

    .popup-background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: var(--color-background);
      opacity: .75;
    }

    img {
      z-index: 11;
      transition: all .1s ease-in;
    }
  }

  .popup-background {
    width: 0;
    height: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    transition: all .1s ease-out;
  }
}

/* #endregion */