:root{
  --title-bg-color: #E54B4B;
  --main-bg-color: #F7EBE8;
  --highlight-bg-color: #444140;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  margin: 0;
  color: var(--highlight-bg-color);
}

.center{
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 2em;
}

a{
  text-decoration: none;
}

.box{
  background-color: var(--main-bg-color);
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
  background-color: var(--title-bg-color);
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1{
  font-size: 5em;
  margin-bottom: 0;
}

.header ul{
  text-align: center;
}

.no-padding{
  padding: 0;
}

li{
  list-style: none;
}

ul{
  padding: 0;
}

